body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2018/space.jpg');
    /* background-image: url('https://media.giphy.com/media/3og0IFrHkIglEOg8Ba/giphy.gif'); */
    background-size: cover;
    height: 100vh;
}

#canvas-wrapper {
    width: 800px;
    height: 500px;
    border: 5px solid rgba(175, 107, 4, 0.774);
    background: rgba(110, 107, 107, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.title {
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 56;
    margin: 10px 0;
}

.navbar {
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.links {
    background: transparent;
    width: 200px;
    height: 100px;
    margin: 10px 0;
    border: 1px solid white;
    padding: 10px;
}

.scorecard {
    background: whitesmoke;
    width: 200px;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid gold;
    display: block;
}

.scorecard h4 {
    margin: 0;
    padding: 0;
}