body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2018/space.jpg');
    /* background-image: url('https://media.giphy.com/media/3og0IFrHkIglEOg8Ba/giphy.gif'); */
    background-size: cover;
    /* height: 100vh; */
}

#canvas-wrapper {
    width: 800px;
    height: 500px;
    border: 5px solid rgba(175, 107, 4, 0.774);
    background: rgba(110, 107, 107, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.title {
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 56px;
    margin: 10px 0;
}

.navbar {
    width: 800px;
    display: flex;
    justify-content: center;
}

.links {
    /* background: transparent; */
    background: linear-gradient(to top left, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); 
    width: 200px;
    height: 100px;
    margin: 10px 50px 10px 0;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 0 0 10px whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    background: gray;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid white;
    outline: 0;
    font-size: 16px;
}

.buttons:hover {
    background: white;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid rgba(175, 107, 4, 0.774);
    outline: 0;
}

.buttons:active {
    transform: scale(0.9);
    outline: 0;
}

#next-hole {
    margin-top: 20px;
}

#nav-new-game, #next-hole {
    width: 80%;
    font-size: 17px;
}

.hole-scorecard {
    /* background: transparent; */
    background: linear-gradient(to top right, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); 
    width: 200px;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
    display: block;
    color: white;
    box-shadow: 0 0 10px whitesmoke;
}

th, td {
    color: white;
}

.hole-scorecard h4, .scorecard {
    margin: 0;
    padding: 0;
    text-align: center;
}

.hole-scorecard-row {
    height: 25px;
}

#hole-scorecard-table {
    margin-top: 10px;
}

#score, #par {
    width: 60px;
}

.scorecard-table {
    box-shadow: 0 0 10px whitesmoke;
    margin-bottom: 50px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); 
}

.scorecard h4 {
    font-family: 'sans-serif';
    color: white;
    font-size: 25px;
    margin: 30px 0 10px 0;
    text-transform: uppercase;
}

#welcome-message {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    color: black;
    box-shadow: 0 0 10px whitesmoke;
    border-radius: 100px;
}

#welcome-message h4 {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

.welcome-message-buttons {
    margin-bottom: 20px;
}

#instructions {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    color: black;
    width: 550px;
    padding: 20px;
    margin-top: 15px;
    box-shadow: 0 0 10px whitesmoke;
}

#instructions h4 {
    font-family: 'Monoton', cursive;
    font-size: 24px;
    text-align: center;
    margin: 20px 10px 10px 10px;
}

#mat-screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sink-message-container {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    padding: 20px;
    margin-top: 15px;
}

#sink-message {
    font-size: 55px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-family: 'Monoton', cursive;
}